:root .language-cs,
:root .language-csharp,
:root .pre-div:has(.language-cs),
:root .pre-div:has(.language-csharp) {
  --prism-text-color: #9cdcfe;
  --prism-background: #1e1e1e;
  --prism-comment-color: #6A9955;
  --prism-punctuation-color: #DA70D6;
  --prism-property-color: #b5cea8;
  --prism-string-color: #ce9178;
  --prism-operator-color: #d4d4d4;
  --prism-keyword-color: #569cd6;
  --prism-function-color: #dcdcaa;
  --prism-class-name-color: #4ec9b0;
  --prism-regex-color: #d16969;
  --prism-unity-attribute-color: #9cdcfe;
  --prism-unity-keyword-color: #569cd6;
  --prism-pre-top-bar-bg: #292929;
  --prism-pre-div-bg: #222;
  --prism-code-lang-name-color: #007bff;
  --prism-namespace-color: #4ec9b0;
}

:root .light .language-cs,
:root .light .language-csharp,
:root .light .pre-div:has(.language-cs),
:root .light .pre-div:has(.language-csharp) {
  --prism-text-color: #2A5B84;
  --prism-background: #f9f9f9;
  --prism-comment-color: #6A9955;
  --prism-punctuation-color: #9D6A9A;
  --prism-property-color: #6B8E6B;
  --prism-string-color: #AD6F52;
  --prism-operator-color: #4A4A4A;
  --prism-keyword-color: #3F7CAC;
  --prism-function-color: #B59B4D;
  --prism-class-name-color: #3A9188;
  --prism-regex-color: #A55050;
  --prism-unity-attribute-color: #2A5B84;
  --prism-unity-keyword-color: #3F7CAC;
  --prism-pre-top-bar-bg: #E0E0E0;
  --prism-pre-div-bg: #EAEAEA;
  --prism-code-lang-name-color: #0066CC;
  --prism-namespace-color: #3A9188;
}

:root .light .language-js,
:root .light .pre-div:has(.language-js) {
  --prism-text-color: #2A5B84;
  --prism-background: #f9f9f9;
  --prism-comment-color: #6A9955;
  --prism-punctuation-color: #9D6A9A;
  --prism-property-color: #6B8E6B;
  --prism-string-color: #AD6F52;
  --prism-operator-color: #4A4A4A;
  --prism-keyword-color: #3F7CAC;
  --prism-function-color: #B59B4D;
  --prism-class-name-color: #3A9188;
  --prism-regex-color: #A55050;
  --prism-unity-attribute-color: #2A5B84;
  --prism-unity-keyword-color: #3F7CAC;
  --prism-pre-top-bar-bg: #E0E0E0;
  --prism-pre-div-bg: #EAEAEA;
  --prism-code-lang-name-color: #0066CC;
  --prism-namespace-color: #3A9188;
}

:root .light .changeable-fill {
  fill: black;
}

:root .changeable-fill {
  fill: white;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=csharp */
code[class*="language-"],
pre[class*="language-"] {
  color: var(--prism-text-color);
  background: var(--prism-background);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prism-comment-color);
}

.token.punctuation {
  color: var(--prism-punctuation-color);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: var(--prism-property-color);
}

.token.namespace {
  color: var(--prism-namespace-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
  color: var(--prism-string-color);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: var(--prism-operator-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prism-keyword-color);
}

.token.function {
  color: var(--prism-function-color);
}

.token.class-name {
  color: var(--prism-class-name-color);
}

.token.important,
.token.regex,
.token.variable {
  color: var(--prism-regex-color);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/* Custom styles for Unity-specific elements */
.token.unity-attribute {
  color: var(--prism-unity-attribute-color);
}

.token.unity-keyword {
  color: var(--prism-unity-keyword-color);
}

/* Adjust the background for inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.light .pre-top-bar-container {
  background: var(--prism-pre-top-bar-bg);
}

.light .pre-div {
  background: var(--prism-pre-div-bg);
}

.light .prettyprint,
.light .prettyprint code {
  background: var(--prism-background);
}

.light .code-lang-name,
.code-lang-name {
  color: var(--prism-code-lang-name-color);
}