<?js
var data = obj;
var self = this;
?>

<?js if (data.readme) { ?>
    <section class="readme">
        <h1 class="title"><?js= data.longname ?></h1>
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
